<div class="container" style="margin-top: 25px;">
  <div class="col-md-3">
    <div class="card" style="width: 60rem;">
      <div class="card-body" *ngIf="!state.isEdit; else elseBlock">
        <h4 class="card-title mb-3">{{ state.name }}</h4>
        <p class="card-text">
          <span class="font-weight-bold text-muted">Description: </span>
          {{ state.description }}
        </p>
        <button class="card-link" (click)="EditState(state)">Edit</button>
        <button class="card-link" (click)="RemoveState(state.id)">
          Delete
        </button>
      </div>
      <ng-template #elseBlock>
        <div class="card-body">
          <h5 class="card-title">Edit state</h5>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 mb-3">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="state.name"
                  placeholder="Edit Name"
                />
              </div>

              <div class="col-md-12 mb-3">
                <textarea
                  rows="4"
                  class="form-control"
                  [(ngModel)]="state.description"
                  placeholder="Edit Description"
                ></textarea>
              </div>
            </div>
          </div>
          <button class="card-link" (click)="state.isEdit = false">
            Cancel
          </button>
          <button class="card-link" (click)="UpdateState(state)">Update</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
